:root {
    --main-green: rgb(0,255,0);
}

body {
    background-color: black;
}

.container {
    max-width: 1400px;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    background-color: #303436;
    color: white;
}

a {
    color: var(--main-green);
    transition: 200ms all ease-in-out;
}

footer {
    border-top: 5px double white;
    color: white;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/skyline.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-section {
    margin: 20px;
}

footer a:hover {
    color: white;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer p {
    opacity: 0.9;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/black-lodge.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 75px 0px;
    text-shadow: -1px -1px 10px rgba(0, 0, 0, 0.9);
}

h1 {
    font-size: 110px;
    letter-spacing: 3px;
    font-family: 'Edu SA Beginner', cursive;
    font-weight: 400;
}


header h3 {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 80px;
}

header a {
    text-decoration: none;
    border: 1px solid var(--main-green);
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

header a:hover {
    color: white;
    border-color: white;
}

