:root {
    --main-green: rgb(0,255,0);
}

body {
    background-color: black;
}

.container {
    max-width: 1400px;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    background-color: #252422;
    color: white;
    border: 1px solid grey;
    border-radius: 5px;
}

a {
    color: var(--main-green);
    transition: 200ms all ease-in-out;
}

.basic-info {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 80px 0px;
}

.container h3 {
    font-weight: 400;
    letter-spacing: 1px;
    text-shadow: -1px -1px -1px rgba(0, 0, 0,);
}

footer {
    border-top: 1px solid grey;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/skyline.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer section {
    margin: 20px;
}

footer a:hover {
    color: white;
}

footer ul {
    list-style: none;
    padding: 0;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/black-lodge.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 75px 0px;
    text-shadow: -1px -1px -1px rgba(0, 0, 0, 0.9);
    border-bottom: 1px solid grey;
}

h1 {
    font-size: 110px;
    letter-spacing: 3px;
    font-family: 'Edu SA Beginner', cursive;
    font-weight: 400;
}


header h3 {
    font-size: 30px;
    margin-bottom: 80px;
}

header a {
    text-decoration: none;
    border: 1px solid var(--main-green);
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

header a:hover {
    color: white;
    border-color: white;
}

main h3 {
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 35px;
    margin: 0;
    color: var(--main-green);
    font-family: 'Edu SA Beginner', cursive;
}

p {
    opacity: 0.9;
}